In [1]:
from sklearn import datasets
import pandas as pd
import numpy as np

In [7]:
iris = datasets.load_iris()

data1 = pd.DataFrame(data= np.c_[iris['data'], iris['target']],
                     columns= iris['feature_names'] + ['target'])

In [8]:
data1.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0

In [15]:
sorted_values = data1.sort_values(by="sepal length (cm)")
sorted_values.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
13,4.3,3.0,1.1,0.1,0.0
42,4.4,3.2,1.3,0.2,0.0
38,4.4,3.0,1.3,0.2,0.0
8,4.4,2.9,1.4,0.2,0.0
41,4.5,2.3,1.3,0.3,0.0

In [ ]:
def sortAndIndex(lowerThan,higherThan,attr,data1,data2):
    data1_sorted = data1[(data1[attr] > higherThan) & (data1[attr] < lowerThan)]
    
    data2_newIndex = data2.reindex(data1_sorted.index).reset_index()
    data_sorted = data1_sorted.reset_index

    return data_sorted,data2_newIndex

In [23]:
data_sorted = data1[(data1["sepal length (cm)"] > 5) & (data1["sepal length (cm)"] < 7)]

In [ ]:
and (data1["sepal length (cm)"] < 7)

In [28]:
data_sorted

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
5,5.4,3.9,1.7,0.4,0.0
10,5.4,3.7,1.5,0.2,0.0
14,5.8,4.0,1.2,0.2,0.0
15,5.7,4.4,1.5,0.4,0.0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2.0
146,6.3,2.5,5.0,1.9,2.0
147,6.5,3.0,5.2,2.0,2.0
148,6.2,3.4,5.4,2.3,2.0
149,5.9,3.0,5.1,1.8,2.0

In [33]:
data1_reindex = data1.reindex(data_sorted.index)

In [34]:
data1_newsorted = data1_reindex.reset_index()

In [35]:
data1_newsorted

,index,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,0,5.1,3.5,1.4,0.2,0.0
1,5,5.4,3.9,1.7,0.4,0.0
2,10,5.4,3.7,1.5,0.2,0.0
3,14,5.8,4.0,1.2,0.2,0.0
4,15,5.7,4.4,1.5,0.4,0.0
...,...,...,...,...,...,...
100,145,6.7,3.0,5.2,2.3,2.0
101,146,6.3,2.5,5.0,1.9,2.0
102,147,6.5,3.0,5.2,2.0,2.0
103,148,6.2,3.4,5.4,2.3,2.0
104,149,5.9,3.0,5.1,1.8,2.0